{% block head %}

<script type="text/javascript" src="//player.wowza.com/player/1.0-latest/wowzaplayer.min.js"></script>

{% endblock %}

{% block body %}

<div id="livePlayer" style="width:100%; height:0; padding:0 0 56.25% 0"></div>
<input type="button" value="live checker" onclick="liveChecker();">
<input type="button" value="10sec ago" onclick="backToTenSecAgo();">
<input type="button" value="last" onclick="goToLast();">

<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript">
  window.onload = function(){
    wowzaSetting({{ wawza_config|tojson }});
  }
</script>
{% endblock %}
